.page-title{
    font-size: 24px;
    font-weight: 800;
    line-height: 31px;
    color: #15192A;
    margin:27px auto;
    text-align: center;
}
.thumb img{
    border-radius: 15px;
}

.page-content-wrapper{
    margin: 40px 0;
}
.page-content,.page-content p{
    font-size: 14px;
    font-weight: 600;
    line-height: 31px;
    color: #474B5B;
    text-align: justify;
}

.page-content strong,.page-content b{
    font-weight: bold;
}
.page-content h2,.page-content h3,.page-content h4,.page-content h5{
    font-size: 14px;
    font-weight: 800;
    line-height: 31px;
    color: #474B5B;
    margin-bottom: 18px;
}
.page-content h2{
    font-size: 20px;
}
.page-content h3{
    font-size: 18px;
}
.page-content h4{
    font-size: 16px;
}
.page-content img{
    border-radius: 15px;
    margin: 5px auto;
}
.page-content img.aligncenter{
    display: table;
}
.page-content a{
    color: #D81AD3;
}
@media (max-width: 767px ) {
    .page-404 .page-content-wrapper{
        justify-content: center !important;
    }
}




/************************************  color boxes  *************************************/
/* باکس رنگی */
.color-box{

    position: relative;
    margin: 25px 0 25px 4px;
}
.color-box .shadow-box{
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(28,179,191,0.15);
    position: absolute;
    border-radius: 9px;
    left: 0;
    bottom: 0;
    transform: translate(-4px, 5px);
    z-index: 1;
}
.color-box .text-box{
    background: linear-gradient(-45deg,#1CB3BF,#15CBD9 85%) ;
    padding: 24px 29px;
    color: #FFFFFF;
    border-radius: 9px;
    position: relative;
    z-index: 9;
}
.color-box .text-box,
.color-box .text-box p{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
}
.color-box .text-box h2,
.color-box .text-box h3,
.color-box .text-box h4{
    color: #FFFFFF;
    margin-bottom: 12px;
    position: relative;
}
.color-box .text-box h2:after,
.color-box .text-box h3:after,
.color-box .text-box h4:after{
    content: " ";
    height: 2px;
    width: 72px;
    background: #1C969F;
    position: absolute;
    right: 0;
    bottom: -5px;
}

/* باکس ساده */
.simple-box{
    position: relative;
    margin: 25px 0 25px 4px;
}
.simple-box .text-box{
    background: #ffffff ;
    padding: 24px 29px;
    color: #474B5B;
    border-radius: 9px;
    box-shadow: 0 3px 50px #EAEEEE;
    position: relative;
    z-index: 9;
}
.simple-box .shadow-box{
    content: " ";
    width: 100%;
    height: 100%;
    background: #EAEEEE;
    position: absolute;
    border-radius: 9px;
    left: 0;
    bottom: 0;
    transform: translate(-4px, 5px);
    z-index: 1;
}
.simple-box .text-box,
.simple-box .text-box p{
    color: #474B5B;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
}
.simple-box .text-box h2,
.simple-box .text-box h3,
.simple-box .text-box h4{
    color: #15192A;
    margin-bottom: 12px;
    position: relative;
}
.simple-box .text-box h2:after,
.simple-box .text-box h3:after,
.simple-box .text-box h4:after{
    content: " ";
    height: 2px;
    width: 72px;
    background: #474B5B;
    position: absolute;
    right: 0;
    bottom: -5px;
}

/* باکس خط رنگی */
.color-line-box{
    position: relative;
    margin: 25px 0 25px 4px;
}

.color-line-box .text-box{
    background: #ffffff ;
    padding: 24px 29px;
    color: #474B5B;
    border-radius: 9px;
    position: relative;
    z-index: 9;
    box-shadow: 0 3px 50px #EAEEEE;
}
.color-line-box .shadow-box{
    content: " ";
    width: 100%;
    height: 100%;
    background: #EAEEEE;
    position: absolute;
    border-radius: 9px;
    left: 0;
    bottom: 0;
    transform: translate(-4px, 5px);
    z-index: 1;
}
.color-line-box .text-box,
.color-line-box .text-box p{
    color: #474B5B;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
}
.color-line-box .text-box h2,
.color-line-box.text-box h3,
.color-line-box .text-box h4{
    color: #15192A;
    margin-bottom: 12px;
    position: relative;
}
.color-line-box .text-box h2:after,
.color-line-box .text-box h3:after,
.color-line-box .text-box h4:after{
    content: " ";
    height: 2px;
    width: 72px;
    background: #474B5B;
    position: absolute;
    right: 0;
    bottom: -5px;
}
.color-line-box.red .text-box{
    background: #FFF8F8;
    box-shadow: none;
}
.color-line-box.red .shadow-box{
    background: linear-gradient(-45deg,#FF0000,#FF6161) ;
}
.color-line-box.red .text-box h2:after,
.color-line-box.red .text-box h3:after,
.color-line-box.red .text-box h4:after{
    background: #F99D9D;
}

.color-line-box.blue .text-box{
    background: #F9FBFF;
    box-shadow: none;
}
.color-line-box.blue .shadow-box{
    background: linear-gradient(-45deg,#0053FF,#2970FF) ;
}
.color-line-box.blue .text-box h2:after,
.color-line-box.blue .text-box h3:after,
.color-line-box.blue .text-box h4:after{
    background: #588FFA;
}

.color-line-box.gold .text-box{
    background: #FFFEFC;
    box-shadow: none;
}
.color-line-box.gold .shadow-box{
    background: linear-gradient(-45deg,#FFA900,#FFAA00) ;
}
.color-line-box.gold .text-box h2:after,
.color-line-box.gold .text-box h3:after,
.color-line-box.gold .text-box h4:after{
    background: #F9BB3E;
}

.color-line-box.pink .text-box{
    background: #FFFBFF;
    box-shadow: none;
}
.color-line-box.pink .shadow-box{
    background: linear-gradient(-45deg,#F92DF5,#D81AD3) ;
}
.color-line-box.pink .text-box h2:after,
.color-line-box.pink .text-box h3:after,
.color-line-box.pink .text-box h4:after{
    background: #DD55DA;
}

.color-line-box.green .text-box{
    background: #F3FFFB;
    box-shadow: none;
}
.color-line-box.green .shadow-box{
    background: linear-gradient(-45deg,#00D28A,#0DBE82) ;
}
.color-line-box.green .text-box h2:after,
.color-line-box.green .text-box h3:after,
.color-line-box.green .text-box h4:after{
    background: #4CCBA0;
}

/* باکس نکته و سوال */
.point-box,
.quis-box{
    position: relative;
    margin: 25px 0 25px 4px;
}
.point-box .text-box,
.quis-box .text-box{
    background: #FFFEFC ;
    padding: 24px 29px;
    color: #474B5B;
    border-radius: 9px;
    border: 1px solid #F2D8A5;
    position: relative;
    z-index: 9;
    display: flex;
}
.point-box .shadow-box,
.quis-box .shadow-box{
    content: " ";
    width: 100%;
    height: 100%;
    background: #F2D8A5;
    position: absolute;
    border-radius: 9px;
    left: 0;
    bottom: 0;
    transform: translate(-4px, 5px);
    z-index: 1;
}
.point-box .text-box,
.quis-box.text-box,
.point-box .text-box p,
.quis-box .text-box p{
    color: #474B5B;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
}
.point-box .text-box h5,
.quis-box .text-box h5{
    font-size: 18px;
    font-weight: bold;
    color: #15192A;
    margin-bottom: 12px;
    position: relative;
}
.point-box .text-box h5:after,
.quis-box .text-box h5:after{
    content: " ";
    height: 2px;
    width: 72px;
    background: #474B5B;
    position: absolute;
    right: 0;
    bottom: -5px;
}
.point-box .text-box :is(h2,h3,h4),
.quis-box .text-box :is(h2,h3,h4){
    font-size: 16px;
    margin-bottom: 0;
}
.point-box .img-div{
    background: url("../img/point.svg") no-repeat top right;
    width: 113px;
    height: 73px;
}
.quis-box .img-div{
    background: url("../img/quiz.svg") no-repeat top right;
    width: 113px;
    height: 73px;
}
.point-box .text,
.quis-box .text{
    width: calc(100% - 113px);
}

/* باکس تمرین و کتاب و مثال */
.ex-box,
.example-box,
.book-box{
    position: relative;
    margin: 25px 0 25px 4px;
}
.ex-box .text-box,
.example-box .text-box,
.book-box .text-box{
    background: #FFFCFF ;
    padding: 24px 29px;
    color: #474B5B;
    border-radius: 9px;
    position: relative;
    z-index: 9;
    display: flex;
    overflow: hidden;
}
.ex-box .shadow-box,
.example-box .shadow-box,
.book-box .shadow-box{
    content: " ";
    width: 100%;
    height: 100%;
    background: #A164DE;
    position: absolute;
    border-radius: 9px;
    left: 0;
    bottom: 0;
    transform: translate(-4px, 5px);
    z-index: 1;
}
.ex-box .text-box,
.example-box .text-box,
.book-box.text-box,
.ex-box .text-box p,
.example-box .text-box p,
.book-box .text-box p{
    color: #474B5B;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
}
.ex-box .text-box h5,
.example-box .text-box h5,
.book-box .text-box h5{
    font-size: 18px;
    font-weight: bold;
    color: #15192A;
    margin-bottom: 12px;
    position: relative;
}

.ex-box .text-box :is(h2,h3,h4),
.example-box .text-box :is(h2,h3,h4),
.book-box .text-box :is(h2,h3,h4){
    font-size: 16px;
    margin-bottom: 0;
}

.ex-box .text-box h5:after,
.example-box .text-box h5:after,
.book-box .text-box h5:after{
    content: " ";
    height: 2px;
    width: 72px;
    background: #A164DE;
    position: absolute;
    right: 0;
    bottom: -5px;
}
.ex-box .text,
.example-box .text,
.book-box .text{
    width: calc(100% - 124px);
    padding-right: 16px;
}

.ex-box .img-div{
    background: url("../img/ex.svg") no-repeat top right;
    width: 97px;
    height: 73px;
    position: relative;
}
.ex-box .text-box:before{
    content: " ";
    background: #FCF4FC;
    width: 124px;
    height: 100%;
    border-radius: 0 0 0 115px;
    position: absolute;
    top: 0;
    right: 0;
}


.book-box .text-box{
    background: #F5FBFF;
}
.book-box .shadow-box{
    background: #43B4F5;
}

.book-box .text-box h5:after{
    background: #43B4F5;
}
.book-box .img-div{
    background: url("../img/book.svg") no-repeat top right;
    width: 97px;
    height: 73px;
    position: relative;
}
.book-box .text-box:before{
    content: " ";
    background: #ECF5FB;
    width: 124px;
    height: 100%;
    border-radius: 0 0 0 115px;
    position: absolute;
    top: 0;
    right: 0;
}

.example-box .text-box{
    background: #F8FFF8;
}
.example-box .shadow-box{
    background: #7DE67A;
}

.example-box .text-box h5:after{
    background: #7DE67A;
}
.example-box .img-div{
    background: url("../img/example.svg") no-repeat top right;
    width: 97px;
    height: 73px;
    position: relative;
}
.example-box .text-box:before{
    content: " ";
    background: #EEFEEE;
    width: 124px;
    height: 100%;
    border-radius: 0 0 0 115px;
    position: absolute;
    top: 0;
    right: 0;
}
/* باکس نقل قول */
blockquote{
    background: #FAFAFA;
    border-radius: 13px;
    padding: 31px 44px;
    margin: 25px 0;
    position: relative;
}
blockquote:before{
    content: " ";
    background: url("../img/blockquote.svg") no-repeat left center;
    width: 110px;
    height: 93px;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}
blockquote :is(h2,h3,h4,h5){
    color: #15192A;
    margin-bottom: 15px;
    position: relative;
    padding-right: 26px;
}
blockquote :is(h2,h3,h4,h5):before{
    content: " ";
    width: 18px;
    height: 18px;
    background: #ffffff;
    border: 4px solid #15192A;
    border-radius: 100%;
    position: absolute;
    right:0;
    top: 50%;
    transform: translateY(-50%);
}
blockquote,blockquote p{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 28px;
    color: #474B5B;
    position: relative;
}


@media (max-width: 767px) {
    .point-box .img-div,
    .quis-box .img-div{
        width: 76px;
        height: 60px;
        background-size: 60px;
    }
    .point-box .text-box,
    .quis-box .text-box{
        display: block;
    }
    .point-box .text,
    .quis-box .text{
        width: 100%;
        display: block;
    }
    .point-box .text-box h5,
    .quis-box .text-box h5{
        position: absolute;
        top: 34px;
        right: 100px;
        margin: 0;
    }
    .point-box .text-box,
    .quis-box .text-box{
        padding: 23px 24px;
    }

    .ex-box .text-box,
    .example-box .text-box,
    .book-box .text-box{
        display: block;
    }
    .ex-box .text-box h5,
    .example-box .text-box h5,
    .book-box .text-box h5{
        position: absolute;
        top: 18px;
        right: 88px;
        margin: 0;
    }
    .ex-box .text-box,
    .example-box .text-box,
    .book-box .text-box{
        padding: 11px 22px;
    }
    .ex-box .text,
    .example-box .text,
    .book-box .text {
        width: 100%;
        padding-right: 0;
    }
    .ex-box .text-box:before,
    .example-box .text-box:before,
    .book-box .text-box:before{
        width: 241px;
        height: 72px;
    }
    .ex-box .img-div,
    .example-box .img-div,
    .book-box .img-div{
        width: 53px;
        height: 53px;
        background-size: contain;
    }
    blockquote{
        padding: 33px 20px;
    }
    blockquote:before{
        left: 19px;
        top: 22px;
        transform: unset;
    }

}


/****************************** about page *****************************/
.top-box{
    margin-top: 24px;
    background: linear-gradient(to bottom,rgba(17,235,252,.0418),rgba(216,26,211,0.19) 30% ,rgba(255,255,255,0.19) 80%, transparent 120%);
    border-radius: 27px;
    border: 4px solid rgba(255,255,255,.19);
    border-bottom: 0;
    box-shadow: 0 3px 50px rgba(21,25,42,.0304);
    padding: 20px 15px 0 15px;
    margin-bottom: 70px;
}
.top-box-wrapper{
    background: #ffffff;
    border-radius: 27px;
    border: 4px solid #ffffff;
    border-bottom: 0;
    padding: 37px 85px 0 85px;
    box-shadow: 0 3px 50px rgba(200,200,200,.16);
}
.top-box-btn{
    display: table;
    margin: 0 auto;
    text-align: center;
}
.about-page .page-title{
    margin: 0 auto 23px auto;
}
.logo-gray{
    filter: grayscale(1);
    display: block;
    text-align: center;
    margin: 0 auto 24px auto;
}
.top-box-wrapper .text{
    margin-bottom: 42px;
}
.top-box-wrapper .text,.top-box-wrapper .text p{
    font-size: 16px;
    font-weight: 600;
    line-height: 31px;
    text-align: center;
}
.page-content-wrapper .thumb img{
    border-radius: 27px;
    text-align: center;
    display: block;
    margin: 0 auto 37px auto;
}
.about-page .page-content-wrapper{
    margin-bottom: 90px;
}
.team-title{
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: 800;
    line-height: 29px;
}
.team .circle-figure{
    text-align: center;
    display: block;
    margin: 0 auto;
}
.team-box{
    background: #ffffff;
    border-radius: 19px;
    box-shadow: 0 3px 30px rgba(136,136,136,.16);
    padding: 8px;
    margin: 0 9px 18px;
}

.team-box img{
    width: 223px;
    height: 218px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    filter: grayscale(1);
}
.team-box .name{
    margin: 10px auto 2px auto;
    font-size: 24px;
    font-weight: bold;
    line-height: 37px;
    color: #15192A;
    text-align: center;
}
.team-box .position{
    margin: 0 auto 10px auto;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    color: #474B5B;
    text-align: center;
}
.team-box:hover img{
    filter: grayscale(0);
}
.team{
    margin-bottom: 73px;
}
@media (max-width: 767px) {
    .top-box-wrapper{
        padding: 37px 20px 0 20px;
    }
    .top-box{
        margin: 24px -0.75rem 50px;
    }
    .about-page .page-content-wrapper{
        margin-top: 0;
        margin-bottom: 60px;
    }
}
@media (max-width: 575px){
    .team-box{
        width: 100%;
    }
    .team-box img{
        width: 100%;
        height: 330px;

    }
}
/****************************** contact page *****************************/
.map-box iframe{
    background: rgba(255,255,255,0.78);
    padding: 12px;
    border-radius: 24px;
    box-shadow: 0 3px 50px rgba(212,212,212,0.2);
    margin-top: 25px;
}
.contact-wrapper{
    margin: 81px 0 75px 0;
}
.white-box{
    background: #ffffff;
    padding: 29px;
    border-radius: 22px;
    box-shadow: 0 5px 50px rgba(212,212,212,0.2);
    width: 100%;
    height: 100%;

}
.contact-box{

    text-align: center;
}
.contact-wrapper [class*=col-]{
    margin-bottom: 23px;
}
.contact-wrapper [class*=col-]:first-child{
    padding-left: 23px;
}
.contact-box h4{
    font-size: 19px;
    font-weight: 800;
    color: #15192A;
    line-height: 54px;
    margin-bottom: 26px;
}
.contact-time{
    background: #fafafa;
    border-radius: 15px;
    padding: 15px;
}
.contact-time p{
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    color: #9DA3B2;
    margin-bottom: 0;
    word-spacing: 4px;
}
.contact-time p:first-child{
    margin-top: 14px;
}
.contact-time p:nth-child(2){
    margin-bottom: 21px;
}
.phone-box{
    background: #ffffff;
    padding: 15px 18px;
    border-radius: 15px;
}
.phone-box a, .telegram-box a, .instagram-box a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phone-box a .phone{
    text-align: right;
    padding-right: 49px;
    position: relative;
}
.phone-box a .phone:before{
    content: " ";
    width: 12px;
    height: 12px;
    background: #5DBB46;
    border-radius: 100%;
    position: absolute;
    right: 8px;
    top: 4px;
}
.phone-box a .phone span,
.telegram-box a .telegram span,
.instagram-box a .instagram span{
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 5px;
    color: #15192A;
}
.phone-box a .phone b,
.telegram-box a .telegram b,
.instagram-box a .instagram b{
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
    color: #474B5B;
    letter-spacing: 1pt;
    direction: ltr;
}
.telegram-box,.instagram-box{
    margin: 15px;
    background: #00B9DF;
    padding: 15px 18px;
    border-radius: 15px;
    text-align: right;
}
.instagram-box{
    background: #FAFAFA;
}
.telegram-box a .telegram span{
    color: #D1F7FF;
}
.telegram-box a .telegram b{
    color: #ffffff;
}
.input-box{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.input-box input{
    background: #FAFAFA;
    border: 0;
    outline: none;
    padding: 18px 62px 18px 18px;
    width: 100%;
    position: relative;
    border-radius: 9px;
    font-size: 12px;
    font-weight: bold;
    line-height: 31px;
    color: #474B5B;

}
.input-box input::placeholder{
    font-size: 12px;
    font-weight: bold;
    line-height: 31px;
    color: #474B5B;
    text-align: right;
}
.input-box svg{
    display: block;
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    z-index: 2;
    border-radius: 11px;
    box-shadow: 0 3px 30px rgba(142,142,142,0.16);
}
.textarea-box{
    background: #FAFAFA;
    border: 0;
    outline: none;
    padding: 18px 24px;
    width: 100%;
    position: relative;
    border-radius: 9px;
    font-size: 12px;
    font-weight: bold;
    line-height: 31px;
    color: #474B5B;
    margin-bottom: 23px;
}
.contact-form .btn{
    border-radius: 9px;
    width: 250px;
    padding: 15px;
}
.contact-form-wrap{
    padding: 36px 49px;
}
.contact-form-wrap-title{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 18px;
    color: #15192A;
}
.contact-form-wrap p{
    font-size: 14px;
    font-weight: 600;
    color: #9DA3B2;
    margin-bottom: 22px;
}

@media (max-width: 767px) {
    .contact-wrapper [class*=col-]:first-child{
        padding: 0;
    }
    .contact-wrapper {
        margin: 25px 0;
    }
    .white-box{
        padding: 16px;
    }
}

/****************************** blog template page *****************************/
.blog-wrapper{
    margin: 47px 0;
}
.blog-title{
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    padding-right: 9px;
    margin-bottom: 18px;
    position: relative;
}
.blog-title svg{
    margin-left: 9px;
}
.content-panel{
    border-top: 1px solid #ECEDEE;
}
.content-panel-cats{
    padding: 26px 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
.content-panel-cats li{
    display: inline-block;
    background: #ffffff;
    border-radius: 16px;
    padding: 23px 21px;
    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
    color: #474B5B;
    box-shadow: 0 3px 50px rgba(180,180,180,0.16);
    margin-left: 7px;
    cursor: pointer;
    min-width: 180px;
    text-align: center;
}
.content-panel-cats li span{
    padding-left: 22px;
}
.content-panel-cats li.active{
    background: linear-gradient(135deg, #D81AD3, #13E8FB);
    color: #ffffff;
}
.content-panel-cats li.active span{
    color: #ffffff;
}
.content-panel-cats li.active svg{
   filter: brightness(0) invert(1);
    transform: rotate(-90deg);
}
.content-panel-content .post-list{
    display: none;
}
.content-panel-content .post-list.active{
    display: block;
}
.half-width{
    max-width: 600px;
    margin: 0 auto 20px;
}
/************************************** post box *************************************/
.post-box{
    background-color: #ffffff;
    border-radius: 13px;
    box-shadow: 0 3px 30px rgba(198,198,198,0.16);
    padding: 16px;
    margin: 25px 0;
}

.post-box .img-wrapper{
    position: relative;
    /*height: 219px;*/
    margin-bottom: 15px;
}
.post-box .img-wrapper svg{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    transform: translate(-50%,-50%);
    transition: all 0.5s ease;
}
.post-box .img-wrapper:hover svg{
    transform: translate(-50%,-50%) scale(1.2) ;
}
.post-img-bg{
    content: " ";
    width: calc(100% + 32px);
    height: 48px;
    background: #E8E8E8;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 -16px;
}
.post-box .img-wrapper img{
    z-index: 9;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 11px;
    position: relative;
}
.post-title{
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color:#15192A;
    margin-bottom: 15px;
}
.post-title span{
    width: 68px;
    height: 1px;
    display: block;
    background: #DCDCDC;
    margin: 14px 13px 0 0;
}
.post-summery{
    font-size: 12px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 13px;
    color: #15192A;
    text-align: justify !important;
}
.post-meta{
    border-top: 1px dashed #DFDFDF;
    padding: 18px 16px 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-meta .author img{
    border-radius: 100%;
    margin-left: 6px;
}
.post-meta .author span,
.post-meta .date span,
.post-meta .comment span{
    font-size: 12px;
    font-weight: normal;
    color: #474B5B;
}
.post-meta .date svg,
.post-meta .comment svg{
    margin-left: 6px;
}
.post-list{
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.search-page .post-list{
    margin-bottom: 70px;
}
.post-list [class*='col-']{
    padding: 7.5px;
}
.post-list .post-box{
    margin:0;
}
/**************************************  post pagination *****************************************/
.pagination-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}
.page-numbers{
    list-style: none;
    margin: 0;
}
ul.page-numbers li{
    display: inline-block;
}
.page-numbers .page-numbers,.all-page-count{
    width: 31px;
    height: 31px;
    background: #FAFAFA;
    color: #70737D;
    border-radius: 8px;
    margin: 0 3px;
    display: block;
    text-align: center;
    line-height: 31px;
    font-size: 14px;
    font-weight: 800;
}
.page-numbers .page-numbers.next,.page-numbers .page-numbers.prev{
    background: #EFEFEF;
    margin: 0 8px;
}
.page-numbers .page-numbers.current{
    background: #11EBFC;
    color: #ffffff;
}
.all-page{
    line-height: 31px;
    font-size: 12px;
    font-weight: bold;
    color: #70737D;
    margin-left: 7px;
}
/************************************** seo-consulting box *************************************/
.bg{
    background: linear-gradient(-45deg,#FFFFFF ,#FFFFFF,#11EBFC, #D81AD3 );
    height: 600px;
    width: 100%;
    filter: blur(50px);
    position: absolute;
    transform: translate(0,-60px);
}
.bg-svg{
    background: url("../img/bg.svg") no-repeat left;
    position: absolute;
    left: 0;
    width: 100%;
    height: 700px;
    opacity: 0.2;
}
.cat-title{
    font-size: 22px;
    font-weight: 900;
    line-height: 31px;
    color: #474B5B;
    margin-bottom: 18px;
}
.cat-content{
    margin-bottom: 40px;
}
.cat-content,.cat-content p{
    font-size: 14px;
    font-weight: 600;
    line-height: 31px;
    color: #474B5B;
    text-align: justify;
}

.cat-content strong,.cat-content b{
    font-weight: bold;
}
.cat-content h2,.cat-content h3,.cat-content h4,.cat-content h5{
    font-size: 14px;
    font-weight: 800;
    line-height: 31px;
    color: #474B5B;
    margin-bottom: 18px;
}
.cat-content h2{
    font-size: 20px;
}
.cat-content h3{
    font-size: 18px;
}
.cat-content h4{
    font-size: 16px;
}
.cat-content img{
    border-radius: 15px;
    margin: 5px auto;
}
.cat-content img.aligncenter{
    display: table;
}
.cat-content a{
    color: #D81AD3;
}
.analysis .breadcrumbs{
    background: rgba(255,255,255,0.25);
}
.bg-colored{
    background: linear-gradient(-100deg,#FFFFFF 40%,#D81AD3, #11EBFC );
    filter: blur(50px);
}
.analysis-head{
    margin-top: 33px;
}
.analysis .cat-title{
    font-size: 28px;
}
.analysis .video-shadow{
    background-color: #fff;
    opacity: 0.29;
    box-shadow: 0 3px 50px rgba(113,113,113,.34);
}
.check-list-title,.post-list-title{
    font-size: 20px;
    font-weight: 900;
    line-height: 31px;
    color: #15192A;
    margin-bottom: 37px;
    text-align: center;
}
.check-list{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 775px;
}
.check-list li{
    padding:3px 6px;
    width: 50%;
}
.check-list li span{
    background: #FAFAFA;
    border-radius: 6px;
    padding: 8px 42px 8px 8px;
    font-size: 14px;
    line-height: 31px;
    font-weight: 600;
    display: block;
    position: relative;
    cursor: pointer;
}
.check-list li span:before{
    content: " ";
    width: 13px;
    height: 9px;
    background: url("../img/check.svg") no-repeat center;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.check-list li span:hover{
    background: linear-gradient(135deg, #D81AD3, #13E8FB);
    color: #ffffff;
}
.check-list li span:hover:before{
    filter: brightness(0) invert(1);
}
.analysis-check-list, .analysis .post-list{
    margin-top: 49px;
}
.analysis-form{
    width: 100%;
    background: #ffffff;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 3px 30px rgba(180,180,180,0.16);
}
.analysis-form:before{
    width: 890px;
    height: 166px;
    content: " ";
    position: absolute;
    background: linear-gradient(-85deg, #11EBFC 0%, #D81AD3 40%, transparent 100%);
    opacity: 0.22;
    right: -100px;
    top: -22px;
    filter: blur(60px);
    z-index: -1;
}
.analysis-form:after{
    width: 100%;
    height: 219px;
    content: " ";
    position: absolute;
    background: linear-gradient(-85deg, transparent 0%, #D81AD3 75%, #11EBFC 100%);
    opacity: 0.11;
    right: 0;
    left: 0;
    bottom: -15px;
    filter: blur(60px);
    z-index: -1;
}
.form-header{
    border-bottom: 1px solid #F6F7F7;
    padding: 15px 17px;
}
.form-header-title{
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    color: #15192A;
    position: relative;
    padding-right: 17px;
    margin: 0;
}
.form-header-title:before{
    content: " ";
    width: 12px;
    height: 6px;
    border-radius: 3px;
    background: linear-gradient(to right,#D81AD3,#11EBFC);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.form-header-price{
    background: #FAFAFA;
    padding: 14px 17px;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-header-price span{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #000000;
}
.form-header-price > span:first-child{
    padding-left: 25px;
}
.form-header-price > span ins{
    color: #F45750;
    padding-left: 4px;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}
.form-header-price > span:last-child{
    padding-right: 25px;
}
.form-body{
    padding: 15px 17px;
}
.form-body .input-g{
    width: 440px;
}
.form-body .input-g input{
    border: 1px solid #EAEEEE;
    height: 53px;
}
.form-body button,.form-body button:hover{
    border-radius: 7px;
    box-shadow: 0 3px 20px rgba(0,118,244,.23);
    height: 53px;
    margin-bottom: 8px;
    width: 200px;
}
.analysis:after{
    width: 100%;
    height: 138px;
    content: " ";
    position: absolute;
    background: linear-gradient(-85deg, #D81AD3 , #11EBFC );
    opacity: 0.05;
    right: 0;
    left: 0;
    bottom: -130px;
    filter: blur(60px);
    z-index: -1;
}
.analysis-thumb{
    margin-right: 12px;
}
.video-wrapper{
    position: relative;
    /*max-width: max-content;*/
    margin: 0 auto 47px 0;
    padding-right: 10px;
    padding-bottom: 11px;
}
.video-onclick {
    z-index: 99999;
    width: 100%;
    height: 100%;
    position: absolute;
}
.video-onclick img {
    position: absolute;
    opacity: .9;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: auto!important;
    transform: translateY(-50%);
}
.circle-video{
    max-width: 100%;
    border-radius: 15px;
    margin: 0 auto;
    display: block;
}
.video-shadow{
    content: " ";
    background-color: #EAEEEE;
    border-radius: 15px;
    position: absolute;
    z-index: -1;
    top: 11px;
    left: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 11px);
}
.more-box{
    max-width: 966px;
    display: block;
    margin: 70px auto;
    background: #ffffff;
    border-radius: 12px;
    padding: 25px 30px;
    box-shadow: 0 3px 30px rgba(180,180,180,.16);

}
.more-box-content{
    overflow: hidden;
    height: 478px;
    transition: height 0.3s ease;
    padding: 25px 30px;
}
.more-box.show .more-box-content{
    height: auto;
}
.more-box-btn{
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    color: #11ACFC;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.more-box-btn:before{
    content: " ";
    width: 100%;
    height: 95px;
    background: linear-gradient(to bottom, transparent, #ffffff 90%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 22px;
}
.seo-platforms{
    max-width: 775px;
    margin: 40px auto 0 auto;
}
.seo-platforms ul{
    list-style: circle;
}
.seo-platforms ul li,.seo-platforms ul li::marker{
    font-size: 16px;
    line-height: 35px;
    font-weight: 600;
    color: #474B5B;
}
@media (max-width: 767px) {
    .check-list li{
        width: 100%;
    }
    .form-header-price > span:last-child{
        display: none;
    }
    .form-header-price > span:first-child{
        padding: 0;
    }
    .form-body .input-g{
        width: 100%;
    }
    .analysis-thumb{
        margin: 0 auto;
    }
}
@media (max-width: 575px) {
    .top-box{
        margin: 24px -0.75rem 60px -0.75rem;
        padding: 20px 0 0 0;
        border-radius: 0;
    }
    .top-box-wrapper{
        padding: 35px 12px 0 12px ;
        border-radius: 0;

    }
    .video-onclick img{
        height: 50px;
    }
    .more-box{
        margin: 45px -0.75rem;
        border-radius: 0;
        padding: 25px 6px;
    }
    .more-box-content{
        padding: 25px 6px;
    }
    .pagination-wrapper{
        margin-top: 45px;
    }
    .search-page .post-list{
        margin-bottom: 45px;
    }
}
/**************************** FAQs **********************************/
.user-comments-title{
    font-size: 23px !important;
    font-weight: 800 !important;
    line-height: 36px;
    color: #15192A !important;
    margin: 0 auto;
    text-align: center;
}
.circle-figure{
    margin: 0 auto 28px auto;
    text-align: center;
}
.faqs{
    padding: 73px 0;
}
.faq-wrapper-title{
    font-size: 14px;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 37px;
    color: #6B727D;
    text-align: center;
}
.faq{
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 5px 30px rgba(161,163,168,.18);
    margin-bottom: 15px;
    padding: 18px 28px;
    transition: all .3s ease;
    cursor: pointer;
}
.faq .quiz{
    font-size:14px;
    line-height: 22px;
    font-weight: 600;
    color: #15192A;
    position: relative;
    padding:0 25px;
    transition: all .3s ease;
}
.faq.active .quiz{
    font-weight: bold;
}
.faq .quiz:before{
    content: " ";
    background: url("../img/question.svg") no-repeat center;
    width: 9.33px;
    height: 14.42px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease;
}
.faq .quiz:after{
    content: " ";
    background: transparent;
    width: 11px;
    height: 11px;
    border-left: 2px solid #C8C8C8;
    border-bottom: 2px solid #C8C8C8;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: all .3s ease;
}
.faq.active .quiz:before{
    background: url("../img/question1.svg") no-repeat center;
}
.faq.active .quiz:after{
    border-color: #A1A1A1;
    transform: translateY(-50%) rotate(+135deg);
}
.faq .answer{
    visibility: hidden;
    height: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 28px;
    text-align: justify;
    padding: 0;
    transition: all .3s ease;
}
.faq.active .answer{
    padding: 18px 14px 0 14px;
    visibility: visible;
    height: auto;
}
/************************************  comments  *************************************/
.post-comments-area{
    padding: 35px 0;
}
.comment-reply-title{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    line-height: 29px;
    margin-bottom: 19px;
}
.comment-reply-title small a{
    margin-right: 15px;
    font-size: 12px;
    background-color: #FAFBFC;
    border: 1px solid #D9DFE8;
    color: #42526e;
    padding: 2px 10px;
    border-radius: 5px;
    font-weight: normal;
}
.comment-reply-subtitle{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 24px;
}
.comment-form .comment-btn{
    width: 250px;
    height: 53px;
    font-size: 14px;
    font-weight: bold;
    padding: 16px;
    margin: 0 auto;
    display: block;
}
.comment-form input,
.comment-form textarea{
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid #E8E9EA;
    padding: 20px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 26px;
}
.commentlist{
    padding: 0;
    margin: 0;
    list-style: none;
}

.comment-reply-link:before{
    content: " ";
    background: url("../img/reply.svg");
    width: 22px;
    height: 16px;
    display: block;
}
.comment-item{
    background: #FAFAFA;
    border-radius: 11px;
    margin-bottom: 13px;
    padding: 22px 34px;
}
.comment-author{
    font-size: 18px;
    font-weight: bold;
    color: #15192A;
    padding-right: 14px;
    margin: 0;
}
.comment-date{
    font-size: 10px;
    font-weight: normal;
    color: #A1A3A8;
    padding-right: 35px;
    line-height: 16px;
    position: relative;
}
.comment-date:before{
    content: " ";
    background: url("../img/time.svg");
    width: 16px;
    height: 16px;
    position: absolute;
    right: 14px;
}
.comment-thumb, .comment-item .meta{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment-item .meta{
    padding: 0;
    margin: 0;
}
.comment-thumb{
    margin-bottom: 26px;
}
.comment-text{
    font-size: 14px;
    color: #70737D;
    line-height: 30px;
}
.comment-text a{
    color: #D81AD3;
}
.comment-thumb img.avatar{
    border: 2px solid #fff;
    border-radius: 13px;
}
.commentlist .children{
    list-style: none;
    padding: 0;
}
.commentlist .children .comment-item{
    background: #ffffff;
}
.post-new-comment{
    margin-bottom: 40px;
}
@media (max-width: 600px) {
    .comment-item {
        padding: 15px;
    }

    .comment-thumb, .comment-item .meta {
        flex-wrap: wrap;
    }

    .comment-thumb {
        margin-bottom: 5px;
    }
}
/************************************** payment *************************************/

#edd_checkout_cart,
#edd_user_history,
#edd_purchase_receipt_products{
    margin: 0 0 20px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
#edd_checkout_cart thead,
#edd_user_history thead,
#edd_purchase_receipt_products thead{
    background: linear-gradient(-45deg, #11EBFC, #D81AD3 130%);
    color: #ffffff;
}
#edd_checkout_cart thead th,
#edd_user_history thead th,
#edd_purchase_receipt_products thead th{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#edd_checkout_cart tbody td,
#edd_user_history tbody td,
#edd_purchase_receipt_products tbody td{
    padding: 10px;
    text-align: center;
}
#edd_checkout_cart .edd_cart_item_image{
    display: inline-block;
    margin-left: 10px;
}
#edd_checkout_cart .edd_cart_item_image img{
    border-radius: 5px;
    margin: 0;
}
#edd_checkout_cart .edd_cart_footer_row .edd_cart_total{
    background: linear-gradient(-45deg, #11EBFC, #D81AD3 130%);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
#edd_discount_code{
    display: none;
}
#edd-purchase-button,#edd_profile_editor_form #edd_profile_editor_submit{
    background: linear-gradient(-45deg, #11EBFC, #D81AD3 130%);
    border: 0;
    color: #ffffff;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    height: 52px;
    width: 200px;
}
#edd_purchase_form .edd-input,#edd_profile_editor_form input,#edd_profile_editor_form select{
    color: #70737D;
    font-size: 14px;
    padding: 10px 15px 10px 20px;
    display: block;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #EAEEEE;
    border-radius: 5px;
    margin-bottom: 13px;
}
#edd_purchase_form .edd-label,#edd_profile_editor_form label{
    font-size: 14px;
    font-weight: bold;
    color: #15192A;
    margin-bottom: 8px;
    display: block;
}
#edd_purchase_form .edd-required-indicator{
    color: #D81AD3;
}
#edd_purchase_form .edd-description,#edd_final_total_wrap{
    display: none;
}
#edd_purchase_receipt td,
#edd_purchase_receipt th{
    text-align: center;
    border-bottom: 1px solid #fff;
    font-size: 14px;
}
#edd_purchase_receipt td[colspan="2"],#edd_purchase_receipt tr:last-child td{
    background: #639dea;
    color: #fff;
}
#edd_purchase_receipt{
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    background: #58a1ee47;
    border-radius: 15px;
    overflow: hidden;
}
#edd_purchase_receipt tr:last-child td:first-child,
#edd_purchase_receipt tr:nth-last-child(2) td:first-child{
    text-align: left;
}
#edd_purchase_receipt  tr:last-child td:last-child,
#edd_purchase_receipt  tr:nth-last-child(2) td:last-child{
    text-align: right;
}
.edd_cart_footer_row.edd_cart_discount_row{
    text-align: center;
}
.edd_cart_discount_row .edd_discount,.edd_discount_total,.edd_discount_rate{
    display: inline-block;
}
.edd_discount_total{
    direction: ltr;
}
/************************************** myaccount *************************************/
#edd_profile_password_fieldset,#edd_profile_personal_fieldset{
    border: 1px solid #eaeeee;
    padding: 0 20px 20px;
    border-radius: 5px;
}
#edd_profile_editor_form .col-12{
    padding: 15px;
}
#edd_profile_editor_form .d-flex{
    margin: 0 -15px;
}
#edd_profile_password_fieldset legend,#edd_profile_personal_fieldset legend{
    display: table;
    font-size: 18px;
    font-weight: bold;
    color: #84878f;
    transform: translateY(-18px);
    margin: 0;
    padding: 0 15px;
    background: #fff;
    width: auto;
}
.wrapper{
    padding: 30px 0;
}
/************************************** portfolio *************************************/

.portfolio{
    margin-top: 74px;
}

.portfolio-row{
    margin: 56px -7px;
}
.portfolio-row .col-12{
    padding: 7px;
}
.portfolio-box{
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 3px 30px rgba(155,155,155,0.16);
    overflow: hidden;
}
.portfolio-box .thumb{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.portfolio-box .thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    margin: 0;
}
.portfolio-box .title{
    padding: 15px 10px 20px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #15192A;
    margin: 0;
}






















